include NOTICE
include .gitignore
include CONTRIBUTING.md CODE_OF_CONDUCT.md
recursive-include examples *.py
recursive-include optimized *.py *.toml *.md LICENSE NOTICE
recursive-include optimized/licenses *.txt
prune optimized/build
prune optimized/dist
prune optimized/*.egg-info
global-exclude *.py[cod] .DS_Store
